.dashboard-panel-container {
    background: hsla(18, 76%, 85%, 1);
    color: black;
    background: linear-gradient(90deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6CFBE", endColorstr="#B9DCF2", GradientType=1);
}