extends ../../_layout

block active
    - sidebar_active = 'template.html'

block content
    .content-header
        .content-title Page title
            small Subtitle

    .row
        .col-xl-12
            p A row with content
