.first ol {
    /* background-color: transparent !important; */
}


.first a:hover {
    color: red !important;
}

.active-1 {
    color: #ffffff !important;
}


.breadcrumb>li+li:before {
    content: "" !important;
}

.breadcrumb {
    padding: 19px;
    font-size: 14px;
    color: #aaa !important;
    letter-spacing: 2px;
    border-radius: 5px !important;
}

.breadcrumb-main{
    margin-top: 15px;
}

.fa-caret-right {
    vertical-align: middle;
    font-size: 25px !important;
}
.breadcrumb-item-name {
    margin-top: 20px ;
}
@media screen and (max-width: 296px) {
    .breadcrumb-main{
        padding-top: 40px;
    }
}

@media screen  and (max-width: 992px) {
    .breadcrumb-main{
        margin-top: 40px;
    }
}
@media (max-width: 767px) {
    .breadcrumb {
        font-size: 10px;

    }

    .breadcrumb-main{
        margin-top: 20px;
    }
    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0;
    }

    .fa {
        font-size: 9px !important;
    }

    .breadcrumb {
        letter-spacing: 1px !important;
    }
    .fa-caret-right:before {
    content: "\f0da";
    vertical-align: super !important ;
        
    }
}
