// START Off Sidebar (right)
nav
    // START user info
    .p-3(style="background-image: url('img/offsidebar-bg.jpg')")
        .text-center
            p: img.img-fluid.rounded-circle.img-thumbnail(src='img/user/02.jpg', style="width: 64px; height: 64px", alt="Image")
            p.text-white: strong Alex
    // END user info
    // START list title
    .px-2.py-3: small.text-muted ONLINE
    // START User status
    .p-2.dark-on-hover
        .d-flex
            .d-flex
                img.img-fluid.rounded-circle(src='img/user/05.jpg', style="width: 40px; height: 40px", alt="Image")
                .ml-2
                    strong.text-white Tommy Sam
                    br
                    small.text-muted tommy39
            .ml-auto
                .p-1.rounded.d-inline-block.mr-2.bg-success
    // END User status
    // START User status
    .p-2.dark-on-hover
        .d-flex
            .d-flex
                img.img-fluid.rounded-circle(src='img/user/06.jpg', style="width: 40px; height: 40px", alt="Image")
                .ml-2
                    strong.text-white Beverley Pierce
                    br
                    small.text-muted be40210
            .ml-auto
                .p-1.rounded.d-inline-block.mr-2.bg-success
    // END User status
    // START User status
    .p-2.dark-on-hover
        .d-flex
            .d-flex
                img.img-fluid.rounded-circle(src='img/user/07.jpg', style="width: 40px; height: 40px", alt="Image")
                .ml-2
                    strong.text-white Victor Long
                    br
                    small.text-muted longlong
            .ml-auto
                .p-1.rounded.d-inline-block.mr-2.bg-danger
    // END User status
    // START User status
    .p-2.dark-on-hover
        .d-flex
            .d-flex
                img.img-fluid.rounded-circle(src='img/user/08.jpg', style="width: 40px; height: 40px", alt="Image")
                .ml-2
                    strong.text-white Danielle Berry
                    br
                    small.text-muted hunter49
            .ml-auto
                .p-1.rounded.d-inline-block.mr-2.bg-warning
    // END User status
    // START list title
    .px-2.py-3: small.text-muted OFFLINE
    // START User status
    .p-2.dark-on-hover
        .d-flex
            .d-flex
                img.img-fluid.rounded-circle(src='img/user/09.jpg', style="width: 40px; height: 40px", alt="Image")
                .ml-2
                    strong.text-white Bertha Cooper
                    br
                    small.text-muted ber123
            .ml-auto
                .p-1.rounded.d-inline-block.mr-2.bg-gray
    // END User status
    // START User status
    .p-2.dark-on-hover
        .d-flex
            .d-flex
                img.img-fluid.rounded-circle(src='img/user/10.jpg', style="width: 40px; height: 40px", alt="Image")
                .ml-2
                    strong.text-white Anne Curtis
                    br
                    small.text-muted anni
            .ml-auto
                .p-1.rounded.d-inline-block.mr-2.bg-gray
    // END User status
    .p-2.dark-on-hover
      // Optional link to list more users
      a(href="#", title="See more contacts").p
        strong: small.text-muted &hellip;
